.vs/
.vscode/
.idea/
build/
out/
x64/
x86/
Win32/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.log
*.tlog
*.iobj
*.ipdb
*.suo
*.user
*.opendb
*.VC.db
*.VC.opendb
vcpkg_installed/
.DS_Store
Thumbs.db
