* text=auto eol=lf
*.cpp     text eol=lf
*.hpp     text eol=lf
*.json    text eol=lf
*.md      text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.txt     text eol=lf
*.sln     text eol=crlf
*.slnx    text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props   text eol=crlf
*.png     binary
*.jpg     binary
*.ico     binary
